# Время ожидания перед автоматическим выбором пункта меню (в секундах)
set timeout=15

# Какой пункт меню выбрать по умолчанию (считается с нуля)
set default=0

# Подгружаем модули самого GRUB, чтобы он мог рисовать текст в нормальном разрешении
insmod vbe          # Видео-расширение BIOS
insmod gfxterm      # Поддержка графического терминала
insmod font         # Поддержка шрифтов

# Указываем GRUB, какое разрешение экрана мы хотим передать в ядро через Multiboot
# 'auto' выберет лучшее доступное, но можно указать '1024x768x32'
set gfxmode=auto

# Переключаем вывод из текстового режима (VGA 80x25) в графический (Framebuffer)
terminal_output gfxterm


menuentry "VST Operating System" {
    # 1. Указываем, на каком диске/разделе искать ядро. 
    # (hd0,msdos1) — это первый диск, первая партиция MBR.
    set root='(hd0,msdos1)'

    # 2. Загрузка самого ядра.
    # Команда 'multiboot' загружает файл в память и проверяет магическое число Multiboot Header.
    # После пути можно писать любые аргументы (например, "debug", "nosmp"), 
    # которые ваше ядро получит в виде строки параметров.
    multiboot /boot/kernel.bin
    
    # 4. Команда на старт. 
    # Она говорит GRUB передать управление по адресу точки входа вашего ядра.
    boot
}

menuentry "Restart Computer" {
    # Полезная кнопка для тестирования, чтобы не тянуться к корпусу ПК
    reboot
}

menuentry "Shutdown" {
    # Выключает компьютер (работает через ACPI или APM)
    halt
}